/* NAVIGATION BAR */
.navbar {
    color: white;
    background-color: #0D235D;
}

.navbar-nav .nav-link {
    font-size: 23px;
    margin-left: 90px;
    margin-right: 20px;
}

.navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.7);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}